<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <%- include ('../../partials/nav') %>
    <section class="my-5">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Products</h2>
            <a class="btn btn-info" href="/product/create"
              >Create New Product</a
            >
            <p id="TotalProduct"><%= TotalProduct %></p>
            <% if (message) { %>
            <div class="alert alert-danger">
              <pre style="color: red"><%= message %></pre>
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <% if (products.length > 0) { %>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < products.length; i++) { %>
                <tr>
                  <td align="center"><%= products[i].id %></td>
                  <td>
                    <a href="/product/<%= products[i].code %>/edit"
                      ><%= products[i].code %></a
                    >
                  </td>
                  <td><%= products[i].name %></td>
                  <td><%= products[i].category %></td>
                  <td><%= products[i].brand %></td>
                  <td><%= products[i].type %></td>
                  <td><%= products[i].description %></td>
                </tr>
                <% } %>

                <tr></tr>
              </tbody>
            </table>
            <% } %>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2" id="First">First</div>
              <div><p></p></div>
              <div class="p-2" id="Back">Back</div>
              <div class="p-2" id="Next">Next</div>
              <div class="p-2" id="Last">Last</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include ('../../partials/footer') %>
    <script>
      const locationUser = window.location.href;
      const arr = locationUser?.split('&');
      const getCurrentPage = arr[0]?.split('?');
      const getPage = getCurrentPage[1]?.split('=');
      const getTotalProduct = $('#TotalProduct').text();

      $('th').click(function () {
        var table = $(this).parents('table').eq(0);
        var rows = table
          .find('tr:gt(0)')
          .toArray()
          .sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc) {
          rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
          table.append(rows[i]);
        }
      });
      function comparer(index) {
        return function (a, b) {
          var valA = getCellValue(a, index),
            valB = getCellValue(b, index);
          return $.isNumeric(valA) && $.isNumeric(valB)
            ? valA - valB
            : valA.toString().localeCompare(valB);
        };
      }
      function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
      }
      $(document).ready(function () {
        $('#mnuProduct').addClass('active');
      });

      $('#Back').click(() => {
        if (Number(getPage[1]) === 1) {
          alert('You are at the last page');
        } else {
          let page = Number(getPage[1]) - 1;
          window.location.replace(
            locationUser.replace('page=' + getPage[1], 'page=' + String(page))
          );
        }

        //console.log(location);
      });
      $('#Next').click(() => {
        if (getPage === undefined) {
          window.location.replace(
            window.location.href + '?page=2&size=10&sort=name&dir=desc'
          );
        }
        let page = Number(getPage[1]) + 1;
        if (page * 10 <= Math.ceil(Number(getTotalProduct) / 10) * 10) {
          window.location.replace(
            locationUser.replace('page=' + getPage[1], 'page=' + String(page))
          );
        }

        //      window.location.replace('');
      });
      $('#First').click(() => {
        if (getPage === undefined) {
          window.location.replace(
            window.location.href + '?page=1&size=10&sort=name&dir=ASC'
          );
        }
        window.location.replace(
          locationUser
            .replace(arr[3], 'dir=ASC')
            .replace('page=' + getPage[1], 'page=1')
        );

        //      window.location.replace('');
      });
      $('#Last').click(() => {
        if (getPage === undefined) {
          window.location.replace(
            window.location.href + '?page=1&size=10&sort=name&dir=DESC'
          );
        }
        
        window.location.replace(
          locationUser
            .replace(arr[3], 'dir=DESC')
            .replace('page=' + getPage[1], 'page=1')
        );

        //      window.location.replace('');
      });
    </script>
  </body>
</html>
