<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <%- include ('../../partials/nav') %>
    <section class="my-5">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Products</h2>
            <a class="btn btn-info" href="/product/create"
              >Create New Product</a
            >
            <% if (message) { %>
            <div class="alert alert-danger">
              <pre style="color: red"><%= message %></pre>
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <% if (products.length > 0) { %>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Brand</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < products.length; i++) { %>
                <tr>
                  <td align="center"><%= products[i].id %></td>
                  <td>
                    <a href="/product/<%= products[i].code %>/edit"
                      ><%= products[i].code %></a
                    >
                  </td>
                  <td><%= products[i].name %></td>
                  <td><%= products[i].category %></td>
                  <td><%= products[i].brand %></td>
                  <td><%= products[i].type %></td>
                  <td><%= products[i].description %></td>
                </tr>
                <% } %>

                <tr></tr>
              </tbody>
            </table>
            <% } %>
            <div class="d-flex flex-row justify-content-center">
              <div class="p-2" id="Next">Flex item 1</div>
              <div class="p-2">Flex item 2</div>
              <div class="p-2">Flex item 3</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include ('../../partials/footer') %>
    <script>
      $('th').click(function () {
        var table = $(this).parents('table').eq(0);
        var rows = table
          .find('tr:gt(0)')
          .toArray()
          .sort(comparer($(this).index()));
        this.asc = !this.asc;
        if (!this.asc) {
          rows = rows.reverse();
        }
        for (var i = 0; i < rows.length; i++) {
          table.append(rows[i]);
        }
      });
      function comparer(index) {
        return function (a, b) {
          var valA = getCellValue(a, index),
            valB = getCellValue(b, index);
          return $.isNumeric(valA) && $.isNumeric(valB)
            ? valA - valB
            : valA.toString().localeCompare(valB);
        };
      }
      function getCellValue(row, index) {
        return $(row).children('td').eq(index).text();
      }
      $(document).ready(function () {
        $('#mnuProduct').addClass('active');
      });
      $('#Next').click(() => {
        console.log(products)
       
      });
    </script>
  </body>
</html>
